<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defina uma nova senha</title>
</head>
<body>
    <h2>Defina uma nova senha</h2>
    <form id="formNewPassword">
        <label for="newPassword">Digite o sua nova senha:</label>
        <input type="text" name="newPassword" id="newPassword">
        <label for="confirmNewPassword">Confirme a sua nova senha:</label>
        <input type="text" name="confirmNewPassword" id="confirmNewPassword">
        <button type="submit">Enviar</button>
    </form>

    <script>
        
    </script>
</body>
</html>